
API_URL=
SECRET_KEY=super_secret_key_123

DATABASE_URL= 

# You have to manually type the .env
# Keep .env.example in your code which should be pushed. 

# Then on ubuntu use cp command 
# cp .env.example .env
# this creates a .env file as a copy of .env.example file 
# Then manually the values are to be typed or copy pasted.